@{
    ViewData["Title"] = "Ideias em Alta";
}

    <div class="text-center">
        <h1 class="display-4">Bem Vindo</h1>
        <p>Esse é o mais novo lançador de ideias criado pela Alterdata. </p>
        <p>Aqui você pode votar nas suas ideias e na de seus colegas. :) </p>
    </div>
